ul.modelcars {
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

ul.modelcars li {
    display: inline-block;
    text-align: left;
    width: 300px;
    vertical-align: top;
}

img.photocar {
    display: block;
    width: 250px;
}

.video {
    display: flex;
    gap: 5%;
    width: 90%;
    margin-left: 5%;
}

.video p {
    font-weight: bold;
    width: 30%;
    height: 20%;
    margin-top: 10%;
}


.checkbox {
    width: 30px;
    height: 30px;
    border: 1px solid #1b357e;
}

.infocar div {
    display: inline-block;
}

.info {
    width: 200px;
    vertical-align: top;
}

.textmodel {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #1351d8;

}

.textprice {
    display: block;
    text-align: left;
    font-size: 10px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

td:nth-child(1) {
    font-weight: 700;
    width: 40%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

div#compare {
    position: absolute;
    display: none;
    width: 50vw;
    max-width: 800px;
    min-width: 400px;
    height: 100vh;
    max-height: 700px;
    min-height: 350px;
    background: #fff;
    top: calc(100vh - 80%);
    left: 25vw;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
}

/* Responsividade */
@media (min-width:1201px) and (max-width: 1928px) {
    ul.modelcars {
        display: flex;
        justify-content: center;
    }

    div#compare {
        width: 70vw;
        left: 15vw;
    }

}

@media (min-width: 769px) and (max-width: 1200px) {
    ul.modelcars {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 10%;
    }

    ul.modelcars li {
        width: 45%;
        margin-bottom: 20px;
    }

    img.photocar {
        width: 60%;
    }

    div#compare {
        width: 80vw;
        left: 10vw;
    }

    .video {
        display: flex;
        flex-direction: column;

    }

    .video p {
        width: 100%;
    }



    table {
        width: 100%;
    }

    button {
        width: 100%;
        height: 50px;
        font-size: 16px;
        margin-right: 10%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    ul.modelcars {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20%;
    }

    ul.modelcars li {
        width: 80%;
    }

    img.photocar {
        width: 60%;

    }

    div#compare {
        width: 80vw;
        left: 10vw;
    }


    div#compare img {
        width: 80%;
    }

    .video {
        display: flex;
        flex-direction: column;

    }

    .video p {
        width: 100%;
    }


    table {
        width: 100%;

    }

    button {
        width: 100%;
        height: 50px;
        font-size: 16px;
        margin-right: 10%;
    }

    td:nth-child(1) {
        width: 50%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        width: 100%;
    }

    header {
        width: 100%;
    }

    ul.modelcars {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul.modelcars li {
        width: 100%;
    }

    img.photocar {
        width: 40%;
    }

    div#compare {
        width: 10%;
        left: 1vw;
        height: auto;
        font-size: 10px;
    }

    div#compare img {
        width: 60px;
    }

    .video {
        display: flex;
        flex-direction: column;

    }

    .video p {
        width: 100%;
    }

    table {
        width: 40%;

    }

    td:nth-child(1) {
        width: 60%;
    }

    button {
        width: 100%;
        height: 50px;
        font-size: 16px;
        margin: 10%;
    }

    footer {
        width: 100%;
    }

}